<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard Mahasiswa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard Mahasiswa</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Tombol Logout -->
  <ion-item button (click)="logout()">
    <ion-icon slot="start" name="exit-outline"></ion-icon>
    <ion-label>Logout</ion-label>
  </ion-item>

  <hr>

  <!-- Salam Selamat Datang -->
  <p>Selamat datang, {{ name }}!</p>

  <!-- Daftar Dosen -->
  <ion-list>
    <ion-list-header>
      <ion-label>Daftar Dosen Pembimbing</ion-label>
    </ion-list-header>

    <ion-card *ngFor="let item of lecturers">
      <ion-item>
        <ion-label>
          <h2>{{ item.username }}</h2>
          <p>{{ item.email }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
